@{
    ViewBag.Title = "Create Company";
}

<div class="pageContent">
	
	<form method="post" action="@Url.Action("Create")" class="pageForm" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="58">
			        <div class="unit">
           <label>
            机构名称：</label>
            <input type="text" name="Name" size="30" value=''  class="required"  />
       </div>

        <div class="unit">
           <label>
            描述：</label>
            <input type="text" name="Description" size="30" value=''   />
       </div>


		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>