<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!--第一步骤：节点设置-->
  <configSections>
      <!--spring-->
      <sectionGroup name="spring">
        <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
        <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
        <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      </sectionGroup>
    
      <!--log4net-->
      <sectionGroup name="common">
         <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
      </sectionGroup>

      <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
    
  </configSections>

  <!--1、OpenSessionInView-->
  <appSettings>
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory"/>
    <!--AdoTemplate 做自定义SQL存放位置-->
    <add key="BaseSqlConfigPath" value="config/sql"/>
  </appSettings>
   
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--第二个步骤：
          注入容器，一个 httpHandler 可以单独承接一次 http 会话
          HttpHandler是ASP .NET的Http请求处理中心，不同的文件类型通过提供不同的handler进行分派处理-->
      
    <httpHandlers>
      <add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
      <add verb="*" path="*.ashx" type="Spring.Web.Support.DefaultHandlerFactory, Spring.Web"/>
    </httpHandlers>

   
    <!--第三个步骤：
          注入容器：一个 httpModule 可以过滤每次 http 会话-->
       
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
      <!--2、OpenSessionInView-->
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate33"/>
    </httpModules>
  </system.web>

  
  <!--第四步-->
  <spring>
    <context>
      <!--SP3： 此处的配置文件是指包括了Spring.NET对象定义的XML文件，而非特指.config文件 -->
      <resource uri="config://spring/objects"/>
      <!--下面是引用.NET程序集内嵌资源时的URI语法：
       assembly://<AssemblyName>/<NameSpace>/<ResourceName>
       assembly://<程序集>/<命名空间>/<资源名称>
       SP_Manual：加入不同项目的不同xml配置信息。如：
       例：<resource uri="assembly://DZ_Portal.App/DZ_Portal.App/spring.net_bean_SysDepartMentPageAdmin.xml"/>
      -->
      <!--Spring And NHibernate配置文件-->
      <resource uri="assembly://Web/Web.config/SpringNHibernateConfig.xml"/>
      <!--事务处理配置文件-->
      <resource uri="assembly://Web/Web.config/TransactionManagerConfig.xml"/>
      <!--Dao层-->
      <resource uri="assembly://Dao/Dao.Config/SysManager_DaoConfig.xml"/>
      <resource uri="assembly://Dao/Dao.Config/DataObjectManagerFactoryConfig.xml"/>
      <!--Service层-->
      <resource uri="assembly://BLL/BLL.Config/SysManager_BLLConfig.xml"/>
      <resource uri="assembly://BLL/BLL.Config/BusinessObjectManagerFactoryConfig.xml"/>
      
      <!--一般处理程序-->
      <resource uri="assembly://Web/Web.config.serviceIoc/SysManager_ServiceConfig.xml"/>
      
      <!--页面-->
      <resource uri="assembly://Web/Web.config.pageIoc/SysManager_PageConfig.xml"/>

      
    </context>
    <!-- SP4：objects节点的xmlns元素是必需的，必须根据不同的应用添加不同的命名空间 -->
    <objects xmlns="http://www.springframework.net"/>
  </spring>


  <databaseSettings>
    <!--SQL Server-->
    <!--local-->
    <add key="provider" value="System.Data.SqlClient" />
    <add key="connectionString" value="server=.;database=RockCommonDB;uid=sa;pwd=sa;" />
    <add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
    <add key="driver_class" value="NHibernate.Driver.SqlClientDriver"/>
    <!--自动建表-->
    <add key="hbm2ddl.auto" value="update" />
  </databaseSettings>
  
  <!--log4net-->
  <common>
    <logging>
        <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
         <!--choices are INLINE, FILE, FILE-WATCH, EXTERNAL
         otherwise BasicConfigurer.Configure is used   
         log4net configuration file is specified with key configFile-->
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/Config/log4net/Log4Net.xml"/>
        
      </factoryAdapter>
    </logging>
  </common>

  <system.webServer>
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="true"/>
    <modules runAllManagedModulesForAllRequests="true" >
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate33"/>
    </modules>
    <handlers>
      <add name="Spring.WebPageHandler" path="*.aspx" verb="*" type="Spring.Web.Support.PageHandlerFactory, Spring.Web" />
      <add name="Spring.WebSupportHandler" path="*.ashx" verb="*" type="Spring.Web.Support.DefaultHandlerFactory, Spring.Web" />
    </handlers>
  </system.webServer>
</configuration>
