<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    
    <!--第一步骤：节点设置-->
    <!--1.1 spring-->
    <sectionGroup name="spring">
      <!--<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>-->
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc4"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <!--<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>-->
    </sectionGroup>

    <!--1.2 log4net-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    
    <!--1.3 链接字符串设置处理-->
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
  
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--1、OpenSessionInView-->
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory"/>
    
    <!--2、 AdoTemplate 做自定义SQL存放位置-->
    <add key="BaseSqlConfigPath" value="config/sql"/>
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>

    <httpModules>
      <!--1、开启 OpenSessionInView-->
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate33"/>
    </httpModules>

    <!--<httpRuntime requestValidationMode="2.0"/>-->
  </system.web>

  <!--第二步-->
  
  <!--2.1 Spring And NHibernate 配置文件及对象注入配置文件-->
  <spring>
    <context>
      <!--SP3： 此处的配置文件是指包括了Spring.NET对象定义的XML文件，而非特指.config文件 -->
      <!--<resource uri="config://spring/objects"/>-->
      <!--下面是引用.NET程序集内嵌资源时的URI语法：
       assembly://<AssemblyName>/<NameSpace>/<ResourceName>
       assembly://<程序集>/<命名空间>/<资源名称>
       SP_Manual：加入不同项目的不同xml配置信息。如：
       例：<resource uri="assembly://DZ_Portal.App/DZ_Portal.App/spring.net_bean_SysDepartMentPageAdmin.xml"/>
      -->
      <!--Spring And NHibernate配置文件-->
      <resource uri="assembly://MvcWeb/MvcWeb.config/SpringNHibernateConfig.xml"/>
      <!--事务处理配置文件-->
      <resource uri="assembly://MvcWeb/MvcWeb.config/TransactionManagerConfig.xml"/>
      <!--Dao层-->
      <resource uri="assembly://Dao/Dao.Config/SysManager_DaoConfig.xml"/>
      <resource uri="assembly://Dao/Dao.Config/DataObjectManagerFactoryConfig.xml"/>
      <!--Service层-->
      <resource uri="assembly://BLL/BLL.Config/SysManager_BLLConfig.xml"/>
      <resource uri="assembly://BLL/BLL.Config/BusinessObjectManagerFactoryConfig.xml"/>

      <!--控制器层-->
      <resource uri="assembly://MvcWeb/MvcWeb.config.controllerIoc/SysManager_ControllerConfig.xml"/>


    </context>
    <!-- SP4：objects节点的xmlns元素是必需的，必须根据不同的应用添加不同的命名空间 -->
    <!--<objects xmlns="http://www.springframework.net"/>-->
  </spring>


  <!--2.2 数据库链接字符串初始化-->
  <databaseSettings>
    <!--SQL Server-->
    <!--local-->
    <add key="provider" value="System.Data.SqlClient" />
    <add key="connectionString" value="server=.;database=RockCommonDB;uid=sa;pwd=sa;" />
    <add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
    <add key="driver_class" value="NHibernate.Driver.SqlClientDriver"/>
    <!--自动建表-->
    <add key="hbm2ddl.auto" value="update" />
  </databaseSettings>

  <!--2.3 log4net 配置-->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!--choices are INLINE, FILE, FILE-WATCH, EXTERNAL
         otherwise BasicConfigurer.Configure is used   
         log4net configuration file is specified with key configFile-->
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/Config/log4net/Log4Net.xml"/>

      </factoryAdapter>
    </logging>
  </common>
  
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="true"/>
    
    <modules runAllManagedModulesForAllRequests="true" >
      <!--<add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />-->
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate33"/>
    </modules>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>