<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body scroll="no">
    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@
</body>
</html>
